html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  body {
    margin: 0;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  
  path {
    fill: #0042db00;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  